[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
numpy = "*"
pip = "*"
xlsxwriter = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
